.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}
.star {
  width: 22px;
}
.accent {
  color: var(--accent-color);
}
.hero .hero-contents {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.hero .hero-contents h1 {
  color: var(--text-primary-color);
  font-weight: extrabold;
  font-size: 40;
  line-height: 2.4rem;
  text-transform: uppercase;
}
.hero .hero-contents p {
  margin: 5px 0 0 0;
  color: var(--text-secondary-color);
}
.hero .hero-contents .skills {
  margin: 20px 0 15px 0;
}
.hero .hero-contents .skills ul {
  display: flex;
  gap: 16px;
}
.hero .hero-contents .skills ul li {
  color: #c9c6c6;
  text-transform: uppercase;
}
.hero .hero-contents .skills ul li span img {
  margin: 0 5px -2px 0;
  width: 16px;
}

.hero .hero-contents .btns {
  margin: 10px 0 20px 0;
  background: #343434;
  width: fit-content;
  padding: 5px;
  border-radius: 60px;
  border: 1px solid var(--text-secondary-color);
}
.hero .hero-contents .btns button:nth-child(1) {
  background: var(--accent-color);
  padding: 10px 30px;
  border-radius: 60px;
  color: var(--text-primary-color);
  font-weight: 400;
}
.hero .hero-contents .btns button:nth-child(1):hover {
  background: #000;
  transition: background-color 0.5s ease;
}
.hero .hero-contents .btns button:nth-child(2) {
  background: transparent;
  color: var(--text-primary-color);
  padding: 0 15px;
}
.hero .hero-contents .btns span i {
  transform: rotate(-45deg);
  font-size: 16px;
  margin: 0 8px;
}

.hero .hero-contents .socials {
  display: flex;
  gap: 16px;
}
.hero .hero-contents .socials i {
  color: var(--text-secondary-color);
  font-size: 22px;
}
.hero .hero-contents .socials i:hover {
  color: var(--accent-color);
}
/* aa */
.hero .hero-images div {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero .hero-images div img {
  max-width: 100%;
  animation: floating 6s infinite;
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.hero .hero-images div img:hover {
  scale: 1.05;
  transition: scale 0.7s ease;
}
.hero .hero-images div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 360px;
  border-radius: 50%;
  /* background: var(--accent-color); */
  filter: blur(100px);
  z-index: -1;
}

.banner-up {
}
.banner-up ul {
  display: flex;
  gap: 40px;
  width: 100%;
  background: #000000;
  padding: 16px 16px;
  justify-content: center;
  align-items: center;
  rotate: -10deg;
  overflow-x: hidden;
}

.banner-up li {
  color: var(--text-primary-color);
  animation: scroll 15s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-60%);
  }
}
.banner-up li:hover {
  color: var(--accent-color);
}
.banner-up li {
}

.banner-up li img {
  width: 16px;
  margin-bottom: -2px;
  margin-right: 10px;
}

/* Responsive */

@media (max-width: 672px) {
  header nav .nav-links {
    display: none;
  }
  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .hero .hero-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .hero .hero-contents h1 {
    text-align: center;
  }
  .hero .hero-contents p {
    text-align: center;
  }
  .hero .hero-contents .btns button:nth-child(1) {
    padding: 15px 30px;
  }
  .hero .hero-images div::before {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 850px) {
  .banner-up {
    display: none;
  }
}
